body {
    margin: 0px;
}
a
{
    text-decoration: none;
    color: black;
}
.blockmain
{
    width: 100%;
    min-height: 937px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.content
{
    -webkit-box-shadow: 21px 23px 12px 4px rgba(34, 60, 80, 0.22);
    -moz-box-shadow: 21px 23px 12px 4px rgba(34, 60, 80, 0.22);
    box-shadow: 21px 23px 12px 4px rgba(34, 60, 80, 0.22);
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(231, 234, 240);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.table
{
    margin-left: 40px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
.imgdownload
{
    width: 40px;
    height: 25px;
    transition-duration: 0.1s;
    border-radius: 10px;
    border: black 1px solid;
}
.imgdownload:hover{
    background-color: rgb(108, 108, 206);
}
.info-buttons
{
    margin-left: 200px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.book-buttons
{
    border: none;
    margin-top: 15px;
    background-color: rgb(9, 72, 247);
    color: white;
    border-radius: 5px;
    transition-duration: 0.7s;
}
.book-buttons:hover{
    color: rgb(2, 62, 77);
}
.tablbox1
{

    width: 800px;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 21px;
}
.idclass
{
    margin-left: 40px;
    margin-right: 100px;
    width: 6px;
}
.tablbox2
{
    width: 800px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition-duration: 0.1s;
}

.tablbox2:hover{

    border-radius: 15px;
    background-color: white;
}

.text2
{
    margin-left: 40px;
    margin-right: 40px;
    width: 6px;
}
.text1
{

    margin-right: 15px;

}
hr
{
    width: 70%;

}