<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/library?useSSL=false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/webApplication</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.username">Anastasiia</property>
        <property name="hibernate.connection.password">VILINO0vilino05</property>
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>

        <mapping class="team1.entity.Author"/>
        <mapping resource="AuthorEntity.hbm.xml"/>
        <mapping class="team1.entity.Book"/>
        <mapping resource="BookEntity.hbm.xml"/>
        <mapping resource="BookHasAuthorEntity.hbm.xml"/>
        <mapping class="team1.entity.BookHasAuthorEntity"/>
        <mapping class="team1.entity.Request"/>
        <mapping resource="RequestEntity.hbm.xml"/>
        <mapping class="team1.entity.Role"/>
        <mapping resource="RoleEntity.hbm.xml"/>
        <mapping class="team1.entity.User"/>
        <mapping resource="UserEntity.hbm.xml"/>

    </session-factory>
</hibernate-configuration>